.DS_Store
*.numbers

# Mac
.DS_Store

# Logs
*.out
*.err

# Vim swap
*.swp

# Local configs
ui/config/db.local.php

# Local working directories
local_work/

# Docs images temp

# Temporary / local data files
sql/migrations/view_file.txt
sql/seeds/*.csv
